@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');


body {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  overflow-x: hidden;
  letter-spacing: 3px;
  font-weight: 200;
}

h1, h2 {
  margin-bottom: 30px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 8px;
}

h3 {
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
}







