.hero {
  min-height: 45vh;
  background: #000 url("../assets/images/hero.svg") top;
  background-size: cover;
  position: relative;
}

.hero:before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-content {
  position: absolute;
  bottom: 15px;
  color: #fff;
}
